<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rhype Code Test">
    <test name="CodeTest">
         <classes>
             <class name="TestSuite.SignUpNewCustomer"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->